@import "tailwindcss";
@source "./**/*.{html,js,jsx,ts,tsx}";
* {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
               Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
               'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeScale {
  animation: fadeScale 0.5s ease-out;
}