spring:
  # AWS RDS 연결
  datasource:
    url: jdbc:mysql://hirehub-db.cx2suwmo0815.ap-northeast-2.rds.amazonaws.com:3306/hirehub?useSSL=true&serverTimezone=Asia/Seoul&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 4

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB
      file-size-threshold: 20MB

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc.time_zone: Asia/Seoul

  sql:
    init:
      mode: never

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_SECRET}
            scope: openid,profile,email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            client-name: Google
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email
          naver:
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            client-name: Naver
            redirect-uri: "{baseUrl}/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope: [ name, email ]

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

server:
  forward-headers-strategy: native
  use-forward-headers: true
  port: 8080
  tomcat:
    remoteip:
      protocol-header: X-Forwarded-Proto
      port-header: X-Forwarded-Port
      remote-ip-header: X-Forwarded-For
      internal-proxies: .*

kakao:
  oauth:
    redirect-uri: ${KAKAO_REDIRECT_URI:https://api.your-domain.com/kakao/callback}
    front-redirect-url: "https://noeyos.store/auth/callback"

naver:
  oauth:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}
    redirect-uri: ${NAVER_REDIRECT_URI:https://api.your-domain.com/naver/callback}
    front-redirect-url: "https://noeyos.store/auth/callback"

app:
  front:
    base-url: "https://noeyos.store"

  cors:
    allowed-origins: "https://noeyos.store"

aws:
  s3:
    bucket: hirehub-s3-bucket
  credentials:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
  region: ap-northeast-2

logging:
  level:
    org.hibernate.SQL: info
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
